/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* bagian body  */

body{
    font: 16px/18px arial , sans-serif;
    color: #333;
   
    background-image: url(img/imgbg2.jpg);
    

}
.container{
    margin-top: 20px;
    width: 900px;
    margin: auto;
    background: #fff;
    
}

.header{
    text-align: center;
    padding: 24px;
}

.header .title{
    padding: 10px;
    font-size: 36px;
    color: #000;
    font-weight: bold;
}

ul{
    margin: 30px 0;
}
ul li{
    display: inline;
    
    margin: 0px 40px;
}

.header a{
    text-decoration: none;
    color: red;
}

.header a:hover{
    color: aqua;
    transition: .3s;
}
/* content */

.content{
    
}
.content .gambar{
    height: 340px;
    background-image: url(img/img2.jpg);
    background-size: cover;
    background-position: 0 0px;
}

.about{
    margin: 100px 0;
}
.about img{
    border-radius: 100px;
    top: -40px ;
}
.about h1{
    margin: 0 0 0 20px;
    padding : 30px;
    font-weight: bold;
    font-size: 31px;
    color: red;
}
.about h2{
    margin: 10 20px 0 20px;
    font-size: 22px;
    
}

.text{
    margin: 20 30px 0px 30px;
    text-align: justify;
}


.contact{
    margin: 100 auto;
    text-align: center;
    
}

.contact h1{
    font-size: 30px;
    font-weight: bold;
}
/* form */
form{
    margin-top: 40px;
    display: inline-block;
}
input[type=text] , input[type=email],input[type=password]{
    border: none;
    padding: 10px 30px;
    height: 50px;
    width: 350px;
    padding: 5px 20px 5px 20px;
    margin-left: 30px;
    border-radius: 30px;
    background: rgb(214, 214, 214);
    margin: 5px 0;
}

form button{
    padding: 5px 20px;
    background:blue;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin: 30px 0;
    height: 50px;
    width: 350px;
}

button:hover{
    background: rgb(19, 112, 252);
    transition: .2s;
}

/* footer */

div.footer{
    background: rgb(67, 67, 70);
    color: #fff;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

/* card */
div.cover{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 50px 0;
}
div.cardForm{
    margin: 30px 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

div.card1{
    height: 330px;
    width: 250px;
    margin: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 4px ;
}

div.card1 h1{
    margin: 20px;
}
div.card1 img{
    width: 100%;
}

div.card1 button{
    padding: 5px 20px;
    background:rgb(11, 224, 11);
    width: 80px;
    
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
    position: relative;
}

.contact .box{
    line-height: 9cm;
    text-align: center;
}